.about-section {
  padding:  5rem 1rem 7rem 1rem;
  text-align: center;
  background: rgb(0, 3, 28);
  
}

.about-container {
  max-width: 1200px !important;
  width: 100%;
  display: flex;
  justify-content: center;
}

.about-box {
  width: 98%;
  min-height: 300px;
  border: 1px solid;
  border-image: linear-gradient(45deg, #b88bfa, #061c3b, rgb(194, 132, 255)) 1;
  
  overflow: hidden;
  backdrop-filter: blur(8px);
}

.about-image {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.about-image img {
  width: 200px;
  aspect-ratio: 1;
  border-radius: 50%;
  object-fit: cover;
}

.about-info {
  text-align: left;
  padding: 30px;
  color: #fff;
  display: flex;
  align-items: center;
  font-family: 'Poppins', sans-serif;
}


.about-info p {
  font-size: 17px;
  line-height: 1.9;
  font-weight: 500;
}
@media (max-width: 992px) {
  .about-box {
    flex-direction: column !important;
    height: auto;
    padding: 20px;
  }

  .about-image {
    width: 100%;
    justify-content: center;
    padding: 10px 0;
  }

  .about-info {
    padding: 10px 20px;
    text-align: center;
    justify-content: center;
  }

  .about-info p {
    text-align: center;
  }
}

@media (max-width: 700px) {
  .about-container {
    padding: 0 15px;
  }

  .about-box {
    max-width: 100%;
  }
}